<template>
  <!-- <div class="container"> -->
    <div class="container-fluid">
      <div class="row">
      <router-link :to="{name: 'CitizenAdd'}" class="btn btn-primary">Add Citizen</router-link>
      </div>
      <table align="center" border='1'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>City</th>
            <th>Qualification</th>
            <th>Adhaar</th>
            <th>PAN</th>
            <th>Ration</th>
            <th>Driving  License</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="citizen in citizens">
            <td>{{citizen.name}}</td>
            <td>{{citizen.email}}</td>
            <td>{{citizen.moibile}}</td>
            <td>{{citizen.city}}</td>
            <td>{{citizen.qualification}}</td>
            <td>
              <span v-if="citizen.aadhar">
                {{citizen.aadhar}}
              </span>
              <span v-else>
                N/A
              </span>
            </td>
            <td>
              <span v-if="citizen.pan">
                {{citizen.pan}}
              </span>
              <span v-else>
                N/A
              </span>
            </td>
            <td>
              <span v-if="citizen.ration">
                {{citizen.ration}}
              </span>
              <span v-else>
                N/A
              </span>
            </td>
            <td>
              <span v-if="citizen.driving_license">
                {{citizen.driving_license}}
              </span>
              <span v-else>
                N/A
              </span>
            </td>
            <td>
              <button v-on:click="deleteCitizen(citizen.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  <!-- </div> -->
</template>

<script>
export default {
  data () {
    return {
      citizens: []
    }
  },
  methods: {
    getCitizens: function () {
      this.$http.get('http://localhost:8000/api/v1/citizen').then(function (response) {
        this.citizens = response.data.objects
      })
    },
    deleteCitizen: function (id) {
      this.$http.delete('http://localhost:8000/api/v1/citizen/' + id + '/').then(function (response) {
        console.log('deleted')
        this.getCitizens()
      })
    }
  },
  mounted: function () {
    this.getCitizens()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
