<template>
    <div class="container">
        <form>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" v-model="citizen.name">
          </div>
          <div class="form-group col-md-4">
            <label for="mobile">Mobile Number</label>
            <input type="number" class="form-control" id="mobile" placeholder="Enter Mobile Number" v-model="citizen.mobile">
          </div>
          <div class="form-group col-md-4">
            <label for="dob">Date Of Birth</label>
            <input type="text" class="form-control" id="dob" placeholder="Enter Date Of Birth" v-model="citizen.date_of_birth">
          </div>
        </div>
        <div class="row">  
          <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Enter Email Id" v-model="citizen.email">
          </div>
          <div class="form-group col-md-4">
            <label for="add_lin1">Address line 1</label>
            <input type="text" class="form-control" id="add_lin1" placeholder="Enter Address Line 1" v-model="citizen.address_line1">
          </div>
          <div class="form-group col-md-4">
            <label for="add_lin2">Address line 2</label>
            <input type="text" class="form-control" id="add_lin2" placeholder="Enter Address Line 2" v-model="citizen.address_line2">
          </div>
        </div>
        <div class="row">  
          <div class="form-group col-md-4">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="Enter City" v-model="citizen.city">
          </div>
          <div class="form-group col-md-4">
            <label for="pincode">Pincode</label>
            <input type="number" class="form-control" id="pincode" placeholder="Enter Pincode" v-model="citizen.pincode">
          </div>
          <div class="form-group col-md-4">
            <label for="qualification">Qualification</label>
            <input type="text" class="form-control" id="qualification" placeholder="Enter Qualification" v-model="citizen.qualification"> 
          </div>
        </div>  
        <div class="row">
          <div class="form-group col-md-4">
            <label>Photo:</label><input name="photo_input" id="photo_input" value="" type="file">
          </div>
          <div class="form-group col-md-4">
            <label>Aadhar:</label><input name="adhar_input" id="adhar_input" value="" type="file">
          </div>
          <div class="form-group col-md-4">
            <label>Pan:</label><input name="pan_input" id="pan_input" value="" type="file">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label>Ration:</label><input name="ration_input" id="ration_input" value="" type="file">            
          </div>
          <div class="form-group col-md-6">
            <label>Driving License:</label><input name="driving_input" id="driving_input" value="" type="file">            
          </div>
        </div>
          <button type="submit" class="btn btn-primary" v-on:click="addCitizen()">Submit</button>
        </form>
    </div>
</template>

<script>
export default {
  data () {
    return {
      citizen: {
        name: '',
        mobile: '',
        date_of_birth: '',
        email: '',
        address_line1: '',
        address_line2: '',
        city: '',
        pincode: '',
        qualification: '',
        aadhar: '',
        pan: '',
        driving_license: '',
        ration: ''
      }
    }
  },
  methods: {
    addCitizen: function () {
      this.citizen.photo = document.getElementById('photo_input').value
      this.citizen.aadhar = document.getElementById('adhar_input').value
      this.citizen.pan = document.getElementById('pan_input').value
      this.citizen.driving_license = document.getElementById('driving_input').value
      this.citizen.ration = document.getElementById('ration_input').value
      this.$http.post('http://localhost:8000/api/v1/citizen', this.citizen).then(function (response) {
        console.log('succes')
      })
    }
  }
}

</script>
